header {
  text-align: center;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DCDCDC;
}

section {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: circle;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  width: 100%;
  position: relative;
  float:left;
  padding-bottom: 50px;
  padding-top: 50px;
}

.centeredimg {
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

.aside {
  width: 50%;
  position:relative;
  float: right;
}

.about-me {
  padding-top: 15px;
}

.spacing{
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 50px;
}
.link {
  text-decoration: none;
  color: #000000;
}

.button {
  display: block;
  background: #dcdcdc;
  padding: 8px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
