.nav {
  width: 20%;
  height: 100%;
  z-index: 0;
  position: fixed;
  background: #2b2b2b;
  font-size: 20px;
  color: #b2b2b2;
}

.nav ul {
  list-style-type: none;
  position: relative;
}

.nav li {
  padding: 20px;
  border-bottom: 1px solid #b2b2b2;
}

.nav-link {
  text-decoration: none;
  color: #b2b2b2;
}


.hamburger {
  width: 40px;
  height: 40px;
  background: url('../../img/hamburger.svg');
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
