* {
  box-sizing: border-box;
}


body {
  color: #444444;
  font-size: 18px;
  line-height: 1.8;
  font-family: "lato", sans-serif;
  font-weight: normal;
  letter-spacing: -0.00375em;
}


#container {
width: 90%;
height: auto;
position: relative;
left: 5%
}


h1 {
  color: #dddddd;
  font-size: 105px;
  float: left;
  padding-right: 10px;
  line-height: 1.1;
}


h2 {
  color: #969696;
  font-size: 60px;
  font-family: "arvo", serif;
  font-weight: bolder;
  text-align: center;
  padding-top: 71px;
  padding-bottom: 71px;
  background-color: #cccccc;
  margin-top: 27px;
  margin-bottom: 27px;
  margin-left: 5px;
  margin-right: 5px;
}


h3 {
  font-size: 55px;
  line-height: 1;
  letter-spacing: -0.01em;
  float: left;
  padding-bottom: 15px;
}


h4 {
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0.011em;
  padding-bottom: 20px;
}


h5 {
  color: #969696;
  font-size: 28px;
  letter-spacing: -0.01em;
  position: absolute;
  left: 300px;
  top: 78px;
}


h6 {
  font-size: 18px;
  font-family: "lato:700", sans-serif;
  font-weight: bold;
  text-align: right;
  letter-spacing: -0.02em;
}


p {
  line-height: 1.5;
  padding-top: 16px;
  padding-bottom: 25px;
}
