header {
  position: relative;
  padding-top: 65px;
  width: 100%;
  padding-bottom: 65px;
}


aside {
  position: relative;
  width: 29%;
  float: right;
  padding-top: 106px;
}


article {
  position: relative;
  width: 67%;
  float: left;
  padding-top: 63px;
  padding-bottom: 24px;
  border-bottom: 1px solid #cccccc;
}


section {
  padding-bottom: 25px;
  padding-top: 25px;
}


section p {
  color: #969696;
  padding-top: 24px;
}


nav {
  position: relative;
  clear:both;
}


span {
  color: #da1414;
}


ul{
  padding-left: 40px;
  padding-top: 14px;
  line-height: 1.55em;
}


li {
  color: #969696;
  list-style: disc;
}


footer {
  position: relative;
  padding-top: 60px;
  clear: both;
  text-align: left;
}


footer p{
  float: left;
  clear: left;
  padding-top: 30px;
  color: #cccccc;
}


.ad {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}


.dates {
  color: #cccccc;
}


.preview {
  background: url(../fashion_blog_part2.png);
  background-repeat: no-repeat;
}


.titles {
  text-align: left;
  color: #969696;
  letter-spacing: -0.045em;
}


.link {
  color: #da1414;
  text-decoration: none;
}


.link-1 {
  color: #cccccc;
  text-decoration: none;
}


.link-2 {
  color: #000000;
  text-decoration: none;
}


.buttontop {
  display: block;
  background: #000000;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-size: 23px;
  width: 16.66%;
  position: relative;
  float: left;
  clear: right;
}


.buttonbottom {
  display: block;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #cccccc;
  color: #da1414;
  font-size: 18px;
  position: relative;
  float: left;
  clear: right;
}


.lastbutton {
  display: block;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding-left: 5px;
  padding-right: 5px;
  color: #da1414;
  font-size: 18px;
  position: relative;
  float: left;
  clear: right;
}
