header {
  position: relative;
  padding-top: 40px;
}


aside {
  position: relative;
  width: 20%;
  float: right;
}


article {
  position: relative;
  padding: 40px;
  width: 80%;
  float: right;
}


.preview {
  background: url(../fashion_blog_part2.png);
  background-repeat: no-repeat;
}


.link {
  color: #f30000;
  text-decoration: none;
}


.link-1 {
  color: #cccccc;
  text-decoration: none;
}


.button {
  display: block;
  background: #000000;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  width: 16.66%;
  position: relative;
  float: left;
  clear: right;
}
