body {
  color: #000000;
  background: #FFFFFF);
  font-size: 16px;
  line-height: 24px;
  font-family: "lato";
}


* {
  box-sizing: border-box;
}


#container {
width: 60%;
height: auto;
position: relative;
left: 20%;
}


h1 {
  font-size: 40px;
}


h2 {
  font-size: 26px;
}


.link {
  color: #f30000;
  text-decoration: none;
}


.link-1 {
  color: #cccccc;
  text-decoration: none;
}
